@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?44ikwu');
  src:  url('fonts/icomoon.eot?44ikwu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?44ikwu') format('truetype'),
    url('fonts/icomoon.woff?44ikwu') format('woff'),
    url('fonts/icomoon.svg?44ikwu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-images:before {
  content: "\e90e";
}
.icon-pacman:before {
  content: "\e916";
}
.icon-library:before {
  content: "\e921";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-menu:before {
  content: "\e9bd";
}