
html {
    font-size: 16;
}
.social-bar{
    position: fixed;
    right: 0%;
    top: 35%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}
.icon {
    color: white;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .5s;
}
.icon-menu{
    background: #020202;
}
.icon-embed2{
    background: #020202;
}
.icon-pacman{
    background: #020202;
}
.icon-library{
    background: #020202;
}
.icon-home{
    background: #020202;
}
.icon-facebook{
    background: #2e406e;
    border-radius: 1rem 0;
}
.icon-instagram{
    background: #339dc5;
    
    border-radius: 0 1rem;
}